<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Easy auth - Get Profile from API server</title>
</head>
<style>
  .resources {
    background-color: lightgray;
  }
</style>

<body>
  <h1 style="background-color: blue;color: white;line-height:300%">Easy auth sample application</h1>
  <br><br>
  <% if (error) { %>

    <h3>Error</h3>
    <p>
        <%= error %>
    </p>

    <% } if(accessToken) {  %>

      <h3>User <%= user %> is <span style="color: green"> Authenticated </span></h3>
      <p>Get user's profile from server API  
      <a href="/get-profile">
        <button style="background-color: blue;line-height:150%;border: 2px solid black;color: white;padding: 10px, 15px;">
          Click here
        </button></a></h3>
      </p>
    <% } else { %>
      <p>Please sign in to access Backend services</p>
      <h3><a href="/.auth/login/aad?post_login_redirect_uri=/">
        <button style="background-color: blue;border: 2px solid black;color: white;padding: 10px, 15px;">
          SIGN IN
        </button></a></h3>
      <!--<h3>Please si <span style="color: #ff0000">NOT enabled !</span></h3>-->
      <% } %>
        <br><br>



  <br><br><br><br>
  <div class="resources">
    <details>
    <summary>Additional resources - Easy auth</summary>
    <ul>
      <li><a href="/.auth/login/aad?post_login_redirect_uri=/">Log in (/.auth/login)</a>
      <li><a href="/.auth/logout">Log out (/.auth/logout)</a>
      <li><a href="/.auth/refresh">Refresh token (/.auth/refresh)</a>
      <li><a href="/debug">Debug (/debug)</a>
      <li><a href="https://developer.microsoft.com/en-us/graph/graph-explorer">Microsoft Graph Explorer</a>
      <li><a href="https://jwt.ms/">JWT.ms - decode access token</a>
    </ul>
    </p>
  </details>
  </div>
</body>

</html>