<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Easy auth - Get Profile from API server</title>
</head>
<style>
  .resources {
    background-color: lightgray;
  }
</style>

<body>
  <h1 style="background-color: blue;color: white;line-height:300%">Easy auth sample application</h1>
  <br><br>
  <% if (error) { %>

    <h3>Error</h3>
    <p>
        <%= error %>
    </p>

    <% } if(accessToken) {  %>

      <h3>App Service Authentication <span style="color: #026412"> enabled !</span></h3>

    <% } else { %>
      <h3>App Service Authentication is <span style="color: #ff0000">NOT enabled !</span></h3>
      <% } %>
        <br><br>


  <p><a href="/get-profile">Get user's profile</a> from server API</p>
  <br><br><br><br>
  <div class="resources">
    <details>
    <summary>Additional resources - Easy auth</summary>
    <ul>
      <li><a href="/.auth/login">Log in (/.auth/login)</a>
      <li><a href="/.auth/logout">Log out (/.auth/logout)</a>
      <li><a href="/.auth/refresh">Refresh token (/.auth/refresh)</a>
      <li><a href="/debug">Debug (/debug)</a>
      <li><a href="https://developer.microsoft.com/en-us/graph/graph-explorer">Microsoft Graph Explorer</a>
      <li><a href="https://jwt.ms/">JWT.ms - decode access token</a>
    </ul>
    </p>
  </details>
  </div>
</body>

</html>